\#*
**/*.db
*~
.#*
.DS_Store
.bundle
.dotest
.idea
.loadpath
.project
httpd
pgsql
config/*-public.asc
config/database.yml
config/database.yml.local
config/mongrel_cluster.yml
config/deploy.rb
db/*.sql
db/*.sqlite3*
db/data.yml
doc/**/*
lib/products_index_profiler.rb
log/*.log
sandbox
testapp
tmp
vendor/plugins
coverage/*
var
nbproject
tags
*.swp
test_app
public
